<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main-content">
	<!-- wp:template-part {"slug":"hero-slider"} /-->
	<!-- wp:template-part {"slug":"welcome-card"} /-->
	<!-- wp:template-part {"slug":"news-grid"} /-->
	<!-- wp:template-part {"slug":"about-purpose"} /-->
	<!-- wp:template-part {"slug":"publications-banner"} /-->
	<!-- wp:template-part {"slug":"subscribe-card"} /-->
	<!-- wp:template-part {"slug":"social-attraction"} /-->
	<!-- wp:template-part {"slug":"neo-fos-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
