<!-- wp:template-part {"slug":"header","theme":"ekkairo-flagship","tagName":"","area":"header"} /-->

<!-- wp:group {"className":"internal-page-hero","align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull internal-page-hero">
	<!-- wp:post-featured-image {"sizeSlug":"full","className":"internal-hero-img"} /-->
	<!-- wp:group {"className":"internal-hero-overlay","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group internal-hero-overlay" style="margin-top:0;margin-bottom:0">
		<!-- wp:group {"className":"internal-hero-caption max-w-7xl mx-auto","layout":{"type":"constrained"}} -->
		<div class="wp-block-group internal-hero-caption max-w-7xl mx-auto">
			<!-- wp:post-title {"level":1,"textColor":"white","className":"internal-hero-title"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"site-main-content internal-content-container","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main-content internal-content-container">
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ekkairo-flagship","tagName":"","area":"footer"} /-->